table{
    border-collapse: collapse;
    background-color: aqua;
}

caption{
    background-color: cadetblue;
}

th{
    background-color: bisque;
}

td, th{
    border: 1px solid black;
    padding: 5px 15px;
}